.modal_newsletter {
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: flex-start;
}

#modalNewsletter{
  border: none;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgb(44, 63, 88 /.35);
}

#modalNewsletter::backdrop {
  background-color: rgb(0 0 0 /.5);
}

.fecha_modal{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
    .modal_newsletter{
        width: 343px;
    }
}