.modal_newsletter {
  display: none;
  width: 700px;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
    .modal_newsletter{
        width: 343px;
    }
}
