.produtos {
  padding: 0 165px 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.lista_produtos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 27px;
}

.produtos_card {
  height: 615px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.produtos_card,
.produtos__imagem {
  width: 350px;
}

.produtos__titulo,
.produtos__preco {
  color: #212529;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  padding: 13px 112px 13px 16px;
}

.produtos__descricao {
  color: #212529;
  font-size: 13px;
  line-height: 20px;
  padding: 0 16px;
}

.produtos_card button {
  margin-bottom: 16px;
  margin-left: 16px;
  padding: 9px 16px;
  background: var(--roxo);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: 0.457px;
  color: var(--branco);
  text-align: center;
  border: none;
}

@media (max-width: 768px) {
  .produtos {
    padding: 0 39px 53px;
    gap: 32px;
  }

  .lista_produtos {
    gap: 30px;
  }

  .produtos_card {
    height: 602px;
  }

  .produtos_card,
  .produtos__imagem {
    width: 328px;
  }

  .produtos__descricao {
    padding: 0 15px;
  }
}

@media (max-width: 425px) {
  .produtos {
    padding: 0 23px 48px;
    gap: 30px;
  }

  .lista_produtos {
    justify-content: center;
  }

  .produtos_card {
    height: auto;
  }

  .produtos_card,
  .produtos__imagem {
    width: 323px;
  }
}
