.produtos{
    padding: 0 165px 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.lista_produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 27px;
}

.produtos_card{
    height: 615px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.produtos_card, .produtos__img-1, .produtos__img-2, .produtos__img-3, .produtos__img-4, .produtos__img-5, .produtos__img-6{
    width: 350px;
}

.produtos__img-1{
    height: 422px;
    background: url(/assets/Desktop/Imagens\ Cards/Camiseta.png) center no-repeat;
}

.produtos__img-2{
    height: 422px;
    background: url(/assets/Desktop/Imagens\ Cards/Calça.png) center no-repeat;
}

.produtos__img-3{
    height: 422px;
    background: url(/assets/Desktop/Imagens\ Cards/Tenis.png) center no-repeat;
}

.produtos__img-4{
    height: 422px;
    background: url(/assets/Desktop/Imagens\ Cards/Jaqueta.png) center no-repeat;
}

.produtos__img-5{
    height: 422px;
    background: url(/assets/Desktop/Imagens\ Cards/óculos.png) center no-repeat;
}

.produtos__img-6{
    height: 422px;
    background: url(/assets/Desktop/Imagens\ Cards/Bolsa.png) center no-repeat;
}

.produtos__titulo, .produtos__preco{
    color: #212529;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    padding: 13px 112px 13px 16px;
}

.produtos__descricao{
    color: #212529;
    font-size: 13px;
    line-height: 20px;
    padding: 0 16px;
}

.produtos__btn{
    margin: 0px 0px 16px 16px;
    padding: 9px 16px;
    background: var(--roxo);
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 0.457px;
    color: var(--branco);
    text-align: center;
    border: none;
}

@media (max-width: 768px) {
    .produtos{
        padding: 0 39px 53px;
        gap: 32px;
    }

    .lista_produtos{
        gap: 30px;
    }

    .produtos_card{
        height: 602px;
    }

    .produtos_card, .produtos__img-1, .produtos__img-2, .produtos__img-3, .produtos__img-4, .produtos__img-5, .produtos__img-6{
        width: 328px;
    }

    .produtos__img-1{
        height: 389px;
        background: url(/assets/Tablet/Imagens\ Cards/Camiseta.png) center no-repeat;
    }
    
    .produtos__img-2{
        height: 389px;
        background: url(/assets/Tablet/Imagens\ Cards/Calça.png) center no-repeat;
    }
    
    .produtos__img-3{
        height: 389px;
        background: url(/assets/Tablet/Imagens\ Cards/Tenis.png) center no-repeat;
    }
    
    .produtos__img-4{
        height: 389px;
        background: url(/assets/Tablet/Imagens\ Cards/Jaqueta.png) center no-repeat;
    }
    
    .produtos__img-5{
        height: 389px;
        background: url(/assets/Tablet/Imagens\ Cards/óculos.png) center no-repeat;
    }
    
    .produtos__img-6{
        height: 389px;
        background: url(/assets/Tablet/Imagens\ Cards/Bolsa.png) center no-repeat;
    }

    .produtos__descricao{
        padding: 0 15px;
    }
}

@media (max-width: 375px) {
    .produtos{
        padding: 0 23px 48px;
        gap: 30px;
    }

    .produtos_card{
        height: auto;
    }

    .produtos_card, .produtos__img-1, .produtos__img-2, .produtos__img-3, .produtos__img-4, .produtos__img-5, .produtos__img-6{
        width: 323px;
    }

    .produtos__img-1{
        height: 402px;
        background: url(/assets/Mobile/Imagens\ Cards/Camiseta.png) center no-repeat;
    }
    
    .produtos__img-2{
        background: url(/assets/Mobile/Imagens\ Cards/Calça.png) center no-repeat;
    }
    
    .produtos__img-3{
        background: url(/assets/Mobile/Imagens\ Cards/Tenis.png) center no-repeat;
    }
    
    .produtos__img-4{
        height: 422px;
        background: url(/assets/Mobile/Imagens\ Cards/Jaqueta.png) center no-repeat;
    }
    
    .produtos__img-5{
        height: 422px;
        background: url(/assets/Mobile/Imagens\ Cards/óculos.png) center no-repeat;
    }
    
    .produtos__img-6{
        height: 422px;
        background: url(/assets/Mobile/Imagens\ Cards/Bolsa.png) center no-repeat;
    }
}