@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url(cabecalho.css);
@import url(banner.css);
@import url(categorias.css);
@import url(produtos.css);
@import url(facilidades.css);
@import url(newsletter.css);
@import url(rodape.css);
@import url(modal_produtos.css);
@import url(modal_newsletter.css);

:root {
  --preto: #000000;
  --cinza: #cccccc;
  --branco: #ffffff;
  --amarelo: #daff01;
  --roxo: #9353ff;
  --coral: #ee6471;
  --laranja: #f87f46;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
